<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Contatos</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contato/save">Novo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search"
      name="qualquerNome" [(ngModel)]="termo" ><!-- O atributo (no caso "termo"), não é obrigado a existir na sua classe associada (do component)  -->

    </form>
  </div>
</nav>

<!-- Exibe os componentes da rota -->
<router-outlet></router-outlet>

<!-- Para funcionar o twoWay databind com Input e OutPut a proporiedades (definidas na classe) devem seguir
    o padrão:
      Input: x
      Output: xChange

      "termo" é a variável definida no input "qualquerNome" (neste arquivo)
      "busca" refere-se as propriedades "Input" (busca) e "Output" (buscaChange) definidas na classe 

 -->
<contato-busca [(busca)]="termo" ></contato-busca>
