
<!--

*** DATA BINDING ***
As maneiras abaixo somente pegam as informações do obejto e colocam na tela.
Mas se alterar o valor, ela não é obtida na classe (onWayDataBind)

Property Binding [x]
Event Binding (xChange)
Two-way data-binding [(x)]

-->
<!--
<input type="text" class="form-control" placeholder="Insira o nome" [ngModel]="contato.nome" name="nome">
<input type="text" class="form-control" placeholder="Insira o nome" value="{{contato.nome}}">
<input type="email" class="form-control" placeholder="Insira o email" [value]="contato.email" >


************

*** CLASSES BASEADAS EM ESTADO (do campo) ***

                            false           true
O campo foi visitado?       ng-untouched    ng-touched
O valor do campo mudou?     ng-pristine     ng-dirty
O valor do campo é valido?  ng-valid        ng-valid

-->



<div class="container">
  <h2>Salvar contato</h2>

  <!-- "contatoForm" é uma variável que contem o controle form do angular.
        Esta sendo usado no botão "salvar".

        Os campos dos formulário contem a tag "required" que faz com que o formulario fique ou não valido.

       -->


  <form #contatoForm="ngForm" (ngSubmit)="onSubmit()" class="was-validated" novalidate>
    <div [ngClass]="{'alert': true, 'alert-primary': contatoForm.form.valid, 'alert-danger': !contatoForm.form.valid}" role="alert">
      TESTE [ngClass]
    </div>

    <div class="form-group has-success">
      <label for="nome" >Nome ({{contato.nome}})</label>



      <!-- Abaixo é um exemplo com oneWay juntos (alteração de ida e volta) separados. Mas da pra fazer juntos usando [()]. (vide campo email) -->
      <input type="text" class="form-control" placeholder="Insira o nome"
        required
        name="nome"
        [ngModel]="contato.nome"
        (ngModelChange)="contato.nome = $event"
        >
        <div class="invalid-feedback">Campo nome obrigatório.</div>
        <div class="valid-feedback">OK!</div>
    </div>

    <div class="form-group">
      <label for="nome">E-mail ({{contato.email}}) </label>
      <input type="email" class="form-control" placeholder="Insira o email" name="email" [(ngModel)]="contato.email" required>
      <div class="invalid-feedback">Campo e-mail obrigatório.</div>
      <div class="valid-feedback">OK!</div>
    </div>

    <div class="form-group">
      <label for="nome">Telefone ({{contato.telefone}}) </label>
      <input type="text" class="form-control" placeholder="Insira o telefone" name="telefone" [(ngModel)]="contato.telefone" required>
      <div class="invalid-feedback">Campo telefone obrigatório.</div>
      <div class="valid-feedback">OK!</div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
    <a class="btn btn-secondary" (click)="goBack()" >Voltar</a>
  </form>

</div>
